{% extends "main.html" %} 
  
<!-- Content --> 

{% block content %} 

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<style>

body {
    background-image: url("looking-for-it_web.jpg");
    background-repeat: no-repeat;
}


section.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 60vh;
}

section.notFound h1 {
    color: black;
    font-size: 50px;
}

section.notFound h2 {
    color: black;
    font-size: 45px;
}

section.notFound h1, h2, h3 {
    margin-bottom: 45px;
}

div.text {
    height: 15vh;
}

div.text a {
    text-decoration: none;
    margin-right: 15px;
}

div.text a:hover {
    color: red;
    text-decoration: underline; 
}

@media only screen and (max-width: 600px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 30vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 40px;
    }
    section.notFound h2 {
        font-size: 35px;
    }
    div.text a:active {
    color: red;
    text-decoration: underline; 
  }
}
</style>
    <section class="notFound">
        <div class="text">
        <h1>Sorry!</h1>
        <h2>I've been digging deep, but I can't find what you're looking for - please start all over from <br> <a href="https://1coderookie.github.io/KobraGoNeoInsights" class="yes">HOME</a></h2>
        </div>
    </section>


{% endblock %} 
